workflow_v2_template.json
{
  "name": "Job Crawl + Analyze v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/10 * * * *" }]
        }
      },
      "id": "trigger-crawl-cron",
      "name": "Crawl: Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {},
      "id": "trigger-crawl-manual",
      "name": "Crawl: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 500]
    },
    {
      "parameters": {},
      "id": "trigger-analyze-manual",
      "name": "Analyze: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 800]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "analyze-only",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger-analyze-webhook",
      "name": "Analyze: Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 1000],
      "webhookId": "analyze-only"
    },
    {
      "parameters": {},
      "id": "trigger-sync-manual",
      "name": "Sync: Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 1300]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/an-fetch.js}}"
      },
      "id": "an-fetch",
      "name": "AN: Fetch & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/aa-fetch.js}}"
      },
      "id": "aa-fetch",
      "name": "AA: Fetch Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 500]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/dedup-merge.js}}"
      },
      "id": "dedup-merge",
      "name": "Dedup Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "id": "has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url FROM jobs",
        "options": {}
      },
      "id": "dedup-get-urls",
      "name": "Dedup: Get Seen URLs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1300, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/dedup-filter.js}}"
      },
      "id": "dedup-filter",
      "name": "Dedup: Filter New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "id": "has-new",
      "name": "Has New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 300]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/prep-insert.js}}"
      },
      "id": "prep-insert",
      "name": "Prep Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._insertQuery }}",
        "options": {}
      },
      "id": "db-insert",
      "name": "DB: Insert Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2300, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM jobs WHERE status IN ('pending', 'error') AND retry_count < 3 ORDER BY crawled_at ASC LIMIT 80",
        "options": {}
      },
      "id": "db-fetch-pending",
      "name": "DB: Fetch Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 900],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if there are pending jobs\nconst items = $input.all().filter(i => i.json.id != null);\nif (items.length === 0) return [];\nreturn items;"
      },
      "id": "has-pending",
      "name": "Has Pending?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 900]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/batch-items.js}}"
      },
      "id": "batch-items",
      "name": "Batch Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 900]
    },
    {
      "parameters": {
        "command": "=python \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}/scripts/run_filter.py\" \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}\" --file \"{{ $json._tmpPath }}\""
      },
      "id": "filter-claude",
      "name": "Filter: Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1300, 900],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/parse-update.js}}"
      },
      "id": "parse-update",
      "name": "Parse + Prep Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 900]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._updateQuery }}",
        "options": {}
      },
      "id": "db-update",
      "name": "DB: Update Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1800, 900],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM jobs WHERE status = 'analyzed' AND sheet_synced = FALSE ORDER BY crawled_at ASC",
        "options": {}
      },
      "id": "db-fetch-unsynced",
      "name": "DB: Fetch Unsynced",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [300, 1400],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/format-sheet.js}}"
      },
      "id": "format-sheet",
      "name": "Format Sheet Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 1400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "id": "has-unsynced",
      "name": "Has Unsynced?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 1400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tracker"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "ignoreFields": "_dbId"
        }
      },
      "id": "sheet-append",
      "name": "Sheet: Append Rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1050, 1400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/prep-sync.js}}"
      },
      "id": "prep-sync-ids",
      "name": "Prep Sync IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 1400],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._syncQuery }}",
        "options": {}
      },
      "id": "db-mark-synced",
      "name": "DB: Mark Synced",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1550, 1400],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/pipeline-metrics.js}}"
      },
      "id": "pipeline-metrics",
      "name": "Pipeline Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 1400],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Metrics"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        }
      },
      "id": "sheet-metrics",
      "name": "Sheet: Log Metrics",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2050, 1400],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Crawl: Cron": {
      "main": [[
        { "node": "AN: Fetch & Filter", "type": "main", "index": 0 },
        { "node": "AA: Fetch Jobs", "type": "main", "index": 0 }
      ]]
    },
    "Crawl: Manual": {
      "main": [[
        { "node": "AN: Fetch & Filter", "type": "main", "index": 0 },
        { "node": "AA: Fetch Jobs", "type": "main", "index": 0 }
      ]]
    },
    "AN: Fetch & Filter": {
      "main": [[
        { "node": "Merge Sources", "type": "main", "index": 0 }
      ]]
    },
    "AA: Fetch Jobs": {
      "main": [[
        { "node": "Merge Sources", "type": "main", "index": 1 }
      ]]
    },
    "Merge Sources": {
      "main": [[
        { "node": "Dedup Merge", "type": "main", "index": 0 }
      ]]
    },
    "Dedup Merge": {
      "main": [[
        { "node": "Has Results?", "type": "main", "index": 0 }
      ]]
    },
    "Has Results?": {
      "main": [
        [{ "node": "Dedup: Get Seen URLs", "type": "main", "index": 0 }],
        []
      ]
    },
    "Dedup: Get Seen URLs": {
      "main": [[
        { "node": "Dedup: Filter New", "type": "main", "index": 0 }
      ]]
    },
    "Dedup: Filter New": {
      "main": [[
        { "node": "Has New?", "type": "main", "index": 0 }
      ]]
    },
    "Has New?": {
      "main": [
        [{ "node": "Prep Insert", "type": "main", "index": 0 }],
        []
      ]
    },
    "Prep Insert": {
      "main": [[
        { "node": "DB: Insert Jobs", "type": "main", "index": 0 }
      ]]
    },
    "Analyze: Manual": {
      "main": [[
        { "node": "DB: Fetch Pending", "type": "main", "index": 0 }
      ]]
    },
    "Analyze: Webhook": {
      "main": [[
        { "node": "DB: Fetch Pending", "type": "main", "index": 0 }
      ]]
    },
    "DB: Fetch Pending": {
      "main": [[
        { "node": "Has Pending?", "type": "main", "index": 0 }
      ]]
    },
    "Has Pending?": {
      "main": [
        [{ "node": "Batch Items", "type": "main", "index": 0 }],
        []
      ]
    },
    "Batch Items": {
      "main": [[
        { "node": "Filter: Claude", "type": "main", "index": 0 }
      ]]
    },
    "Filter: Claude": {
      "main": [[
        { "node": "Parse + Prep Update", "type": "main", "index": 0 }
      ]]
    },
    "Parse + Prep Update": {
      "main": [[
        { "node": "DB: Update Jobs", "type": "main", "index": 0 }
      ]]
    },
    "Sync: Manual": {
      "main": [[
        { "node": "DB: Fetch Unsynced", "type": "main", "index": 0 }
      ]]
    },
    "DB: Fetch Unsynced": {
      "main": [[
        { "node": "Format Sheet Rows", "type": "main", "index": 0 }
      ]]
    },
    "Format Sheet Rows": {
      "main": [[
        { "node": "Has Unsynced?", "type": "main", "index": 0 }
      ]]
    },
    "Has Unsynced?": {
      "main": [
        [{ "node": "Sheet: Append Rows", "type": "main", "index": 0 }],
        []
      ]
    },
    "Sheet: Append Rows": {
      "main": [[
        { "node": "Prep Sync IDs", "type": "main", "index": 0 }
      ]]
    },
    "Prep Sync IDs": {
      "main": [[
        { "node": "DB: Mark Synced", "type": "main", "index": 0 }
      ]]
    },
    "DB: Mark Synced": {
      "main": [[
        { "node": "Pipeline Metrics", "type": "main", "index": 0 }
      ]]
    },
    "Pipeline Metrics": {
      "main": [[
        { "node": "Sheet: Log Metrics", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Berlin"
  },
  "tags": [
    { "name": "job-search-v2" }
  ]
}
