workflow_template.json
{
  "name": "Job Crawl + Analyze v2",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-full",
      "name": "Run Full Pipeline",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "*/10 * * * *" }]
        }
      },
      "id": "trigger-cron",
      "name": "Cron Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 450]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "analyze-only",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "trigger-analyze",
      "name": "Run Analyze Only",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 800],
      "webhookId": "analyze-only"
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/preflight.js}}"
      },
      "id": "preflight",
      "name": "Pre-Flight Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 350],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/an-fetch.js}}"
      },
      "id": "an-fetch",
      "name": "AN: Fetch & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 150]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/aa-fetch.js}}"
      },
      "id": "aa-fetch",
      "name": "AA: Fetch Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 550]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1400, 350]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/dedup-merge.js}}"
      },
      "id": "dedup-merge",
      "name": "Dedup Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 350]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ]
        }
      },
      "id": "has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1850, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT url FROM {{ $env.JOBS_FUNNEL_TABLE }}",
        "options": {}
      },
      "id": "dedup-get-urls",
      "name": "Dedup: Get Seen URLs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2100, 350],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/dedup-filter.js}}"
      },
      "id": "dedup-filter",
      "name": "Dedup: Filter New",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2350, 350]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json.url }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "isNotEmpty" }
            }
          ]
        }
      },
      "id": "has-new",
      "name": "Has New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2600, 350]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/prep-insert.js}}"
      },
      "id": "prep-insert",
      "name": "Prep Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._insertQuery }}",
        "options": {}
      },
      "id": "db-insert",
      "name": "DB: Insert Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3100, 350],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Emit a single item to trigger the analyze phase, carrying crawl counts\nlet crawled = 0, inserted = 0;\ntry { crawled = $('Dedup Merge').all().length; } catch(e) {}\ntry { inserted = $('Dedup: Filter New').all().filter(i => !i.json._empty).length; } catch(e) {}\nreturn [{ json: { _trigger: 'crawl_complete', _crawled: crawled, _inserted: inserted } }];"
      },
      "id": "goto-analyze",
      "name": "Start Analyze",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3350, 350],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM {{ $env.JOBS_FUNNEL_TABLE }} WHERE status IN ('pending', 'error') AND retry_count < 3 ORDER BY CASE description_quality WHEN 'good' THEN 0 WHEN 'unknown' THEN 1 WHEN 'poor' THEN 2 WHEN 'empty' THEN 3 ELSE 4 END, crawled_at ASC LIMIT 80",
        "options": {}
      },
      "id": "db-fetch-pending",
      "name": "DB: Fetch Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3400, 650],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if there are pending jobs — output flag when done\nconst items = $input.all().filter(i => i.json.id != null);\nif (items.length === 0) return [{ json: { _done: true } }];\nreturn items;"
      },
      "id": "has-pending",
      "name": "Has Pending?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3650, 650]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $json._done }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        }
      },
      "id": "analyze-done",
      "name": "Analyze Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3850, 650]
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/batch-items.js}}"
      },
      "id": "batch-items",
      "name": "Batch Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4050, 650]
    },
    {
      "parameters": {
        "command": "=python \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}/scripts/run_filter.py\" \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}\" --file \"{{ $json._tmpPath }}\""
      },
      "id": "filter-claude",
      "name": "Filter: Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [4400, 650],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/parse-update.js}}"
      },
      "id": "parse-update",
      "name": "Parse + Prep Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4650, 650]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._updateQuery }}",
        "options": {}
      },
      "id": "db-update",
      "name": "DB: Update Jobs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4900, 650],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if more pending jobs remain — loop back if so\nreturn [{ json: { _trigger: 'check_more' } }];"
      },
      "id": "check-more",
      "name": "Check More Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6400, 650],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, company, location FROM {{ $env.JOBS_FUNNEL_TABLE }} WHERE status = 'analyzed' AND crawled_at > NOW() - INTERVAL '30 days' ORDER BY crawled_at DESC LIMIT 200",
        "options": {}
      },
      "id": "dedup-fetch-recent",
      "name": "Dedup: Fetch Recent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5150, 450],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/dedup-semantic.js}}"
      },
      "id": "dedup-semantic",
      "name": "Dedup: Semantic Prep",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5400, 450],
      "executeOnce": true
    },
    {
      "parameters": {
        "command": "=python \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}/scripts/dedup_semantic.py\" \"{{ $json._dedupTmpPath }}\""
      },
      "id": "dedup-claude",
      "name": "Dedup: Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [5650, 450],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse dedup_semantic.py output and build UPDATE queries\nconst table = $env.JOBS_FUNNEL_TABLE;\nconst stdout = $input.first().json.stdout || '[]';\ntry {\n  const pairs = JSON.parse(stdout);\n  if (!Array.isArray(pairs) || pairs.length === 0) {\n    return [{ json: { _dedupQuery: '' } }];\n  }\n  return pairs.map(p => ({\n    json: {\n      _dedupQuery: `UPDATE ${table} SET possible_duplicate_of = ${Number(p.existing_id)} WHERE id = ${Number(p.new_id)} AND possible_duplicate_of IS NULL`\n    }\n  }));\n} catch (e) {\n  return [{ json: { _dedupQuery: '' } }];\n}"
      },
      "id": "dedup-semantic-parse",
      "name": "Dedup: Parse Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5900, 450]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._dedupQuery }}",
        "options": {}
      },
      "id": "dedup-update",
      "name": "Dedup: Update Duplicates",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [6150, 450],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/run-start.js}}"
      },
      "id": "run-start",
      "name": "Run Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [550, 350],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._runStartQuery }}",
        "options": {}
      },
      "id": "db-run-start",
      "name": "DB: Run Start",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [800, 350],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/run-start.js}}"
      },
      "id": "run-start-analyze",
      "name": "Run Start (Analyze)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 850],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._runStartQuery }}",
        "options": {}
      },
      "id": "db-run-start-analyze",
      "name": "DB: Run Start (Analyze)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [550, 850],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      },
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "{{file:scripts/n8n/run-end.js}}"
      },
      "id": "run-end",
      "name": "Run End",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4100, 950],
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._runEndQuery }}",
        "options": {}
      },
      "id": "db-run-end",
      "name": "DB: Run End",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4350, 950],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "Postgres - Jobs Funnel"
        }
      }
    }
  ],
  "connections": {
    "Run Full Pipeline": {
      "main": [[
        { "node": "Pre-Flight Check", "type": "main", "index": 0 }
      ]]
    },
    "Cron Schedule": {
      "main": [[
        { "node": "Pre-Flight Check", "type": "main", "index": 0 }
      ]]
    },
    "Pre-Flight Check": {
      "main": [[
        { "node": "Run Start", "type": "main", "index": 0 }
      ]]
    },
    "Run Start": {
      "main": [[
        { "node": "DB: Run Start", "type": "main", "index": 0 }
      ]]
    },
    "DB: Run Start": {
      "main": [[
        { "node": "AN: Fetch & Filter", "type": "main", "index": 0 },
        { "node": "AA: Fetch Jobs", "type": "main", "index": 0 }
      ]]
    },
    "AN: Fetch & Filter": {
      "main": [[
        { "node": "Merge Sources", "type": "main", "index": 0 }
      ]]
    },
    "AA: Fetch Jobs": {
      "main": [[
        { "node": "Merge Sources", "type": "main", "index": 1 }
      ]]
    },
    "Merge Sources": {
      "main": [[
        { "node": "Dedup Merge", "type": "main", "index": 0 }
      ]]
    },
    "Dedup Merge": {
      "main": [[
        { "node": "Has Results?", "type": "main", "index": 0 }
      ]]
    },
    "Has Results?": {
      "main": [
        [{ "node": "Dedup: Get Seen URLs", "type": "main", "index": 0 }],
        [{ "node": "Run End", "type": "main", "index": 0 }]
      ]
    },
    "Dedup: Get Seen URLs": {
      "main": [[
        { "node": "Dedup: Filter New", "type": "main", "index": 0 }
      ]]
    },
    "Dedup: Filter New": {
      "main": [[
        { "node": "Has New?", "type": "main", "index": 0 }
      ]]
    },
    "Has New?": {
      "main": [
        [{ "node": "Prep Insert", "type": "main", "index": 0 }],
        [{ "node": "Run End", "type": "main", "index": 0 }]
      ]
    },
    "Prep Insert": {
      "main": [[
        { "node": "DB: Insert Jobs", "type": "main", "index": 0 }
      ]]
    },
    "DB: Insert Jobs": {
      "main": [[
        { "node": "Start Analyze", "type": "main", "index": 0 }
      ]]
    },
    "Start Analyze": {
      "main": [[
        { "node": "DB: Fetch Pending", "type": "main", "index": 0 }
      ]]
    },
    "Run Analyze Only": {
      "main": [[
        { "node": "Run Start (Analyze)", "type": "main", "index": 0 }
      ]]
    },
    "Run Start (Analyze)": {
      "main": [[
        { "node": "DB: Run Start (Analyze)", "type": "main", "index": 0 }
      ]]
    },
    "DB: Run Start (Analyze)": {
      "main": [[
        { "node": "DB: Fetch Pending", "type": "main", "index": 0 }
      ]]
    },
    "DB: Fetch Pending": {
      "main": [[
        { "node": "Has Pending?", "type": "main", "index": 0 }
      ]]
    },
    "Has Pending?": {
      "main": [[
        { "node": "Analyze Done?", "type": "main", "index": 0 }
      ]]
    },
    "Analyze Done?": {
      "main": [
        [{ "node": "Run End", "type": "main", "index": 0 }],
        [{ "node": "Batch Items", "type": "main", "index": 0 }]
      ]
    },
    "Batch Items": {
      "main": [[
        { "node": "Filter: Claude", "type": "main", "index": 0 }
      ]]
    },
    "Filter: Claude": {
      "main": [[
        { "node": "Parse + Prep Update", "type": "main", "index": 0 }
      ]]
    },
    "Parse + Prep Update": {
      "main": [[
        { "node": "DB: Update Jobs", "type": "main", "index": 0 }
      ]]
    },
    "DB: Update Jobs": {
      "main": [[
        { "node": "Dedup: Fetch Recent", "type": "main", "index": 0 }
      ]]
    },
    "Dedup: Fetch Recent": {
      "main": [[
        { "node": "Dedup: Semantic Prep", "type": "main", "index": 0 }
      ]]
    },
    "Dedup: Semantic Prep": {
      "main": [[
        { "node": "Dedup: Claude", "type": "main", "index": 0 }
      ]]
    },
    "Dedup: Claude": {
      "main": [[
        { "node": "Dedup: Parse Results", "type": "main", "index": 0 }
      ]]
    },
    "Dedup: Parse Results": {
      "main": [[
        { "node": "Dedup: Update Duplicates", "type": "main", "index": 0 }
      ]]
    },
    "Dedup: Update Duplicates": {
      "main": [[
        { "node": "Check More Pending", "type": "main", "index": 0 }
      ]]
    },
    "Check More Pending": {
      "main": [[
        { "node": "DB: Fetch Pending", "type": "main", "index": 0 }
      ]]
    },
    "Run End": {
      "main": [[
        { "node": "DB: Run End", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Berlin"
  },
  "tags": [
    { "name": "job-search-v2" }
  ]
}
