workflow.json
{
  "name": "Job Search Pipeline (Local)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Run Search",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },

    {
      "parameters": {
        "jsCode": "// Arbeitnow: paginate up to 5 pages, filter client-side, tag English heuristic\nconst MAX_PAGES = 5;\nconst DELAY_MS = 5000;\nconst cutoff = Date.now() - 21*24*60*60*1000;\n\nconst titleKw = ['python','backend','back-end','back end','data engineer','data engineering','software engineer','software developer','platform engineer','api developer','developer python','entwickler','softwareentwickler','devops','site reliability','sre','etl','junior developer','junior engineer','flask','django','fastapi','developer','engineer','cloud','infrastructure'];\nconst tagKw = ['python','backend','data','engineering','devops','api','flask','django','fastapi','docker','aws','postgresql'];\nconst locKw = ['hamburg','berlin','germany','remote','deutschland','m\\u00fcnchen','munich','frankfurt','k\\u00f6ln','cologne','deutsch','d\\u00fcsseldorf','hannover','stuttgart'];\nconst engWords = ['the','and','you','we','team','experience','requirements','about','our','will','work','join','role','position'];\n\nfunction isLikelyEnglish(desc) {\n  const sample = (desc||'').substring(0,500).toLowerCase();\n  const hits = engWords.filter(w => sample.includes(w)).length;\n  return hits >= 3;\n}\n\nconst allJobs = [];\nconst seen = new Set();\n\nfor (let page = 1; page <= MAX_PAGES; page++) {\n  if (page > 1) await new Promise(r => setTimeout(r, DELAY_MS));\n  let body;\n  try {\n    body = await this.helpers.httpRequest({ method: 'GET', url: `https://www.arbeitnow.com/api/job-board-api?page=${page}`, json: true });\n  } catch(e) { break; }\n  const data = body.data || [];\n  if (data.length === 0) break;\n\n  let allOld = true;\n  for (const job of data) {\n    const created = new Date(job.created_at*1000||job.created_at).getTime();\n    if (created > cutoff) allOld = false;\n\n    const t = (job.title||'').toLowerCase();\n    const l = (job.location||'').toLowerCase();\n    const tags = (job.tags||[]).map(t=>t.toLowerCase());\n    const titleMatch = titleKw.some(k=>t.includes(k));\n    const tagMatch = tagKw.some(k=>tags.includes(k));\n    const locMatch = locKw.some(k=>l.includes(k)) || job.remote;\n\n    if ((titleMatch || tagMatch) && locMatch && created > cutoff) {\n      const key = job.slug||job.url||job.title;\n      if (!seen.has(key)) {\n        seen.add(key);\n        allJobs.push(job);\n      }\n    }\n  }\n  if (allOld) break;\n  const lastPage = body.meta?.last_page || MAX_PAGES;\n  if (page >= lastPage) break;\n}\n\nif (allJobs.length === 0) return [{ json: { _empty: true } }];\n\nreturn allJobs.map((j, i) => {\n  const desc = (j.description||'').substring(0,5000);\n  const jobData = {\n    source: 'arbeitnow',\n    external_id: j.slug||'',\n    url: j.url||`https://www.arbeitnow.com/view/${j.slug}`,\n    title: j.title||'',\n    company: j.company_name||'',\n    location: j.location||'',\n    description: desc,\n    tags: j.tags||[],\n    remote: j.remote||false,\n    _likely_english: isLikelyEnglish(desc)\n  };\n  const filterData = JSON.stringify({\n    title: jobData.title,\n    company: jobData.company,\n    location: jobData.location,\n    description: desc.substring(0, 3000),\n    tags: jobData.tags,\n    url: jobData.url,\n    _likely_english: jobData._likely_english\n  });\n  const b64 = Buffer.from(filterData).toString('base64');\n  return { json: { ...jobData, _b64: b64, _idx: i } };\n});"
      },
      "id": "an-fetch-filter",
      "name": "AN: Fetch & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },

    {
      "parameters": {
        "jsCode": "// Arbeitsagentur: run multiple server-side filtered searches, fetch details\nconst BASE = 'https://rest.arbeitsagentur.de/jobboerse/jobsuche-service/pc/v4/jobs';\nconst DETAIL_BASE = 'https://rest.arbeitsagentur.de/jobboerse/jobsuche-service/pc/v4/jobdetails';\nconst HEADERS = { 'X-API-Key': 'jobboerse-jobsuche' };\nconst SEARCH_DELAY = 2000;\nconst DETAIL_DELAY = 2000;\nconst MAX_DETAILS = 30;\n\nconst searches = [\n  'Python Developer',\n  'Backend Engineer',\n  'Data Engineer',\n  'Software Engineer',\n  'Python Entwickler',\n  'Software Entwickler'\n];\nconst commonParams = 'wo=Hamburg&umkreis=100&veroeffentlichtseit=21&pav=false&zeitarbeit=false&size=50&page=1';\n\nconst seenIds = new Set();\nconst jobs = [];\n\n// Search phase\nfor (let i = 0; i < searches.length; i++) {\n  if (i > 0) await new Promise(r => setTimeout(r, SEARCH_DELAY));\n  const url = `${BASE}?was=${encodeURIComponent(searches[i])}&${commonParams}`;\n  try {\n    const body = await this.helpers.httpRequest({ method: 'GET', url, headers: HEADERS, json: true });\n    for (const s of (body.stellenangebote || [])) {\n      if (!seenIds.has(s.hashId)) {\n        seenIds.add(s.hashId);\n        jobs.push(s);\n      }\n    }\n  } catch(e) { /* skip failed search */ }\n}\n\nif (jobs.length === 0) return [{ json: { _empty: true } }];\n\n// Detail phase — cap at MAX_DETAILS\nconst detailJobs = jobs.slice(0, MAX_DETAILS);\nfor (let i = 0; i < detailJobs.length; i++) {\n  if (i > 0) await new Promise(r => setTimeout(r, DETAIL_DELAY));\n  try {\n    const detail = await this.helpers.httpRequest({ method: 'GET', url: `${DETAIL_BASE}/${detailJobs[i].hashId}`, headers: HEADERS, json: true });\n    detailJobs[i]._detail = detail;\n  } catch(e) { /* skip */ }\n}\n\n// Normalize\nreturn jobs.map((j, i) => {\n  const detail = j._detail || {};\n  const desc = (detail.stellenbeschreibung || detail.freitextFeld || '').substring(0, 5000);\n  const company = typeof j.arbeitgeber === 'object' ? (j.arbeitgeber?.name || '') : (j.arbeitgeber || '');\n  const location = j.arbeitsort?.ort || (j.arbeitsorte && j.arbeitsorte[0]?.ort) || '';\n  const jobData = {\n    source: 'arbeitsagentur',\n    external_id: j.hashId || '',\n    url: `https://www.arbeitsagentur.de/jobsuche/suche?id=${j.hashId}`,\n    title: j.titel || '',\n    company: company,\n    location: location,\n    description: desc,\n    tags: [],\n    remote: false,\n    _likely_english: false\n  };\n  const filterData = JSON.stringify({\n    title: jobData.title,\n    company: jobData.company,\n    location: jobData.location,\n    description: desc.substring(0, 3000),\n    tags: jobData.tags,\n    url: jobData.url,\n    _likely_english: false\n  });\n  const b64 = Buffer.from(filterData).toString('base64');\n  return { json: { ...jobData, _b64: b64, _idx: i } };\n});"
      },
      "id": "aa-fetch",
      "name": "AA: Fetch Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 500]
    },

    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate merged results by company+title\nconst all = $input.all().filter(i => !i.json._empty);\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of all) {\n  const job = item.json;\n  const key = ((job.company||'') + '|' + (job.title||'')).toLowerCase().trim();\n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push(job);\n  }\n}\n\nif (unique.length === 0) return [{ json: { _empty: true } }];\nreturn unique.map((j, i) => ({ json: { ...j, _idx: i } }));"
      },
      "id": "dedup-merge",
      "name": "Dedup Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300]
    },

    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "id": "an-has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },

    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Tracker" },
        "options": {
          "outputFormatting": false
        }
      },
      "id": "dedup-read",
      "name": "Dedup: Read Seen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1300, 300],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Filter out already-seen URLs by reading Job URL column from Sheet\nconst sheetRows = $('Dedup: Read Seen').all();\nconst seen = new Set(sheetRows.map(r => r.json['Job URL']).filter(Boolean));\n\nconst jobs = $('Has Results?').all().filter(item => {\n  const url = item.json?.url;\n  return url && !seen.has(url);\n});\n\nreturn jobs.length > 0 ? jobs : [{ json: { _empty: true } }];"
      },
      "id": "dedup-filter",
      "name": "Dedup: Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1550, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notTrue" }
            }
          ]
        }
      },
      "id": "dedup-has-new",
      "name": "Has New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1800, 300]
    },

    {
      "parameters": {
        "command": "=python \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}/scripts/run_filter.py\" \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}\" \"{{ $json._b64 }}\""
      },
      "id": "filter-claude",
      "name": "Filter: Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2050, 300],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Parse filter results — process ALL items, not just the first\nconst results = [];\nfor (const item of $input.all()) {\n  const stdout = item.json.stdout || '{}';\n  let assessment;\n  try {\n    assessment = JSON.parse(stdout);\n  } catch(e) {\n    assessment = { fit_score: 0, decision: 'SKIP', cv_variant: 'software', hard_blockers: ['Claude parse error'], reasoning: stdout.substring(0,200) };\n  }\n\n  // Get job data from the matching item in Dedup: Filter by index\n  const allDedup = $('Dedup: Filter').all();\n  const idx = results.length;\n  const jobData = (allDedup[idx] || item).json;\n\n  const decision = assessment.decision || 'SKIP';\n  results.push({\n    json: {\n      'Date': new Date().toISOString().slice(0,10),\n      'Source': jobData.source || 'arbeitnow',\n      'Company': assessment.company || jobData.company || '',\n      'Role': assessment.role || jobData.title || '',\n      'Location': assessment.location || jobData.location || '',\n      'Score': assessment.fit_score || 0,\n      'Decision': decision,\n      'CV Variant': assessment.cv_variant || 'software',\n      'Blockers': (assessment.hard_blockers || []).join('; '),\n      'Strong Matches': (assessment.strong_matches || []).join('; '),\n      'Reasoning': assessment.reasoning || '',\n      'Status': decision === 'SKIP' ? 'skipped' : 'review',\n      'Drive Link': '',\n      'Job URL': jobData.url || '',\n      'Notes': '',\n      _assessment: assessment,\n      _url: jobData.url || ''\n    }\n  });\n}\nreturn results;"
      },
      "id": "filter-parse",
      "name": "Filter: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2300, 300]
    },

    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Tracker" },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "ignoreFields": "_assessment,_url"
        }
      },
      "id": "sheet-log",
      "name": "Sheet: Log Result",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2550, 300]
    }

  ],
  "connections": {
    "Run Search": {
      "main": [[
        { "node": "AN: Fetch & Filter", "type": "main", "index": 0 },
        { "node": "AA: Fetch Jobs", "type": "main", "index": 0 }
      ]]
    },
    "AN: Fetch & Filter": {
      "main": [[ { "node": "Merge Sources", "type": "main", "index": 0 } ]]
    },
    "AA: Fetch Jobs": {
      "main": [[ { "node": "Merge Sources", "type": "main", "index": 1 } ]]
    },
    "Merge Sources": {
      "main": [[ { "node": "Dedup Merge", "type": "main", "index": 0 } ]]
    },
    "Dedup Merge": {
      "main": [[ { "node": "Has Results?", "type": "main", "index": 0 } ]]
    },
    "Has Results?": {
      "main": [
        [ { "node": "Dedup: Read Seen", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Dedup: Read Seen": {
      "main": [[ { "node": "Dedup: Filter", "type": "main", "index": 0 } ]]
    },
    "Dedup: Filter": {
      "main": [[ { "node": "Has New?", "type": "main", "index": 0 } ]]
    },
    "Has New?": {
      "main": [
        [ { "node": "Filter: Claude", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Filter: Claude": {
      "main": [[ { "node": "Filter: Parse", "type": "main", "index": 0 } ]]
    },
    "Filter: Parse": {
      "main": [[ { "node": "Sheet: Log Result", "type": "main", "index": 0 } ]]
    },
    "Sheet: Log Result": {
      "main": [[]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Berlin"
  },
  "tags": [{ "name": "job-search-local" }]
}
