workflow.json
{
  "name": "Job Search Pipeline (Local)",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Run Search",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Arbeitnow: paginate up to 10 pages, relaxed client-side filters\nconst MAX_PAGES = 10;\nconst DELAY_MS = 5000;\nconst cutoff = Date.now() - 30*24*60*60*1000;\n\nconst titleKw = ['python','backend','back-end','back end','data engineer','data engineering','software engineer','software developer','platform engineer','api developer','developer python','entwickler','softwareentwickler','devops','site reliability','sre','etl','junior developer','junior engineer','flask','django','fastapi','developer','engineer','cloud','infrastructure','programmierer','informatiker','application engineer','system engineer','web developer','webentwickler','it engineer','automation','machine learning','ml engineer','data scientist','data analyst','full stack','fullstack'];\nconst tagKw = ['python','backend','data','engineering','devops','api','flask','django','fastapi','docker','aws','postgresql','kubernetes','linux','sql','java','node','typescript','go','rust','cloud','azure','gcp','terraform','ci/cd','microservices'];\nconst locKw = ['hamburg','berlin','germany','remote','deutschland','m\\u00fcnchen','munich','frankfurt','k\\u00f6ln','cologne','deutsch','d\\u00fcsseldorf','hannover','stuttgart','bremen','n\\u00fcrnberg','nuremberg','leipzig','dresden','essen','dortmund','bonn','karlsruhe','mannheim','freiburg','heidelberg','europe','eu','dach'];\nconst engWords = ['the','and','you','we','team','experience','requirements','about','our','will','work','join','role','position'];\n\nfunction isLikelyEnglish(desc) {\n  const sample = (desc||'').substring(0,500).toLowerCase();\n  const hits = engWords.filter(w => sample.includes(w)).length;\n  return hits >= 3;\n}\n\nconst allJobs = [];\nconst seen = new Set();\n\nfor (let page = 1; page <= MAX_PAGES; page++) {\n  if (page > 1) await new Promise(r => setTimeout(r, DELAY_MS));\n  let body;\n  try {\n    body = await this.helpers.httpRequest({ method: 'GET', url: `https://www.arbeitnow.com/api/job-board-api?page=${page}`, json: true });\n  } catch(e) { break; }\n  const data = body.data || [];\n  if (data.length === 0) break;\n\n  let allOld = true;\n  for (const job of data) {\n    const created = new Date(job.created_at*1000||job.created_at).getTime();\n    if (created > cutoff) allOld = false;\n\n    const t = (job.title||'').toLowerCase();\n    const l = (job.location||'').toLowerCase();\n    const tags = (job.tags||[]).map(t=>t.toLowerCase());\n    const titleMatch = titleKw.some(k=>t.includes(k));\n    const tagMatch = tagKw.some(k=>tags.includes(k));\n    const locMatch = locKw.some(k=>l.includes(k)) || job.remote;\n\n    // Negative keywords \u00e2\u20ac\u201d auto-skip obviously irrelevant roles\n    const negKw = ['manager','consultant','designer','marketing','sales','recruiter','sap','abap','salesforce','product owner','scrum master','project manager','buchhalter','accounting','finance','legal','rechtsanwalt','jurist','pflege','nurse','arzt','physician','lehrer','teacher','werkstudent','intern','praktikant','trainee','senior director','vp ','vice president','head of','chief'];\n    const negMatch = negKw.some(k => t.includes(k));\n\n    if (!negMatch && (titleMatch || tagMatch || locMatch) && created > cutoff) {\n      const key = job.slug||job.url||job.title;\n      if (!seen.has(key)) {\n        seen.add(key);\n        allJobs.push(job);\n      }\n    }\n  }\n  if (allOld) break;\n  const lastPage = body.meta?.last_page || MAX_PAGES;\n  if (page >= lastPage) break;\n}\n\nif (allJobs.length === 0) return [{ json: { _empty: true } }];\n\nreturn allJobs.map((j, i) => {\n  const desc = (j.description||'').substring(0,5000);\n  const jobData = {\n    source: 'arbeitnow',\n    external_id: j.slug||'',\n    url: j.url||`https://www.arbeitnow.com/view/${j.slug}`,\n    title: j.title||'',\n    company: j.company_name||'',\n    location: j.location||'',\n    description: desc,\n    tags: j.tags||[],\n    remote: j.remote||false,\n    _likely_english: isLikelyEnglish(desc)\n  };\n  const filterData = JSON.stringify({\n    title: jobData.title,\n    company: jobData.company,\n    location: jobData.location,\n    description: desc.substring(0, 3000),\n    tags: jobData.tags,\n    url: jobData.url,\n    _likely_english: jobData._likely_english\n  });\n  const b64 = Buffer.from(filterData).toString('base64');\n  return { json: { ...jobData, _b64: b64, _idx: i } };\n});"
      },
      "id": "an-fetch-filter",
      "name": "AN: Fetch & Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Arbeitsagentur: run multiple server-side filtered searches (no detail fetch)\nconst BASE = 'https://rest.arbeitsagentur.de/jobboerse/jobsuche-service/pc/v4/jobs';\nconst HEADERS = { 'X-API-Key': 'jobboerse-jobsuche', 'User-Agent': 'Mozilla/5.0', 'Accept': 'application/json' };\n\nconst searches = [\n  'Python Developer',\n  'Backend Engineer',\n  'Data Engineer',\n  'Software Engineer',\n  'Python Entwickler',\n  'Software Entwickler',\n  'Backend Entwickler',\n  'ETL Developer',\n  'ETL Entwickler',\n  'Cloud Engineer'\n];\nconst commonParams = 'wo=Hamburg&umkreis=200&veroeffentlichtseit=30&pav=false&zeitarbeit=false&size=100';\n\nconst seenIds = new Set();\nconst jobs = [];\nconst errors = [];\n\nconst MAX_PAGES = 3;\nfor (let i = 0; i < searches.length; i++) {\n  for (let page = 1; page <= MAX_PAGES; page++) {\n    const url = `${BASE}?was=${encodeURIComponent(searches[i])}&${commonParams}&page=${page}`;\n    let body;\n    try {\n      const raw = await this.helpers.httpRequest({ method: 'GET', url, headers: HEADERS });\n      body = typeof raw === 'string' ? JSON.parse(raw) : raw;\n    } catch(e) { errors.push({search: searches[i], page, error: e.message || String(e)}); continue; }\n    const results = body.stellenangebote || [];\n    if (results.length === 0) break;\n    for (const s of results) {\n      const id = s.refnr || s.titel;\n      if (!seenIds.has(id)) {\n        seenIds.add(id);\n        jobs.push(s);\n      }\n    }\n    const maxPage = body.maxErgebnisse ? Math.ceil(body.maxErgebnisse / 100) : 1;\n    if (page >= maxPage) break;\n  }\n}\n\nif (jobs.length === 0) return [{ json: { _empty: true, _errors: errors, _errorCount: errors.length } }];\n\nreturn jobs.map((j, i) => {\n  const company = typeof j.arbeitgeber === 'object' ? (j.arbeitgeber?.name || '') : (j.arbeitgeber || '');\n  const location = j.arbeitsort?.ort || '';\n  const region = j.arbeitsort?.region || '';\n  const extUrl = j.externeUrl || '';\n  const refUrl = j.refnr ? `https://www.arbeitsagentur.de/jobsuche/suche?id=${j.refnr}` : '';\n  const url = extUrl || refUrl;\n  const desc = `${j.titel || ''} bei ${company} in ${location}${region ? ' (' + region + ')' : ''}. Beruf: ${j.beruf || ''}. Eintrittsdatum: ${j.eintrittsdatum || 'k.A.'}`;\n  const jobData = {\n    source: 'arbeitsagentur',\n    external_id: j.refnr || '',\n    url: url,\n    title: j.titel || '',\n    company: company,\n    location: location,\n    description: desc,\n    tags: [],\n    remote: false,\n    _likely_english: false\n  };\n  const filterData = JSON.stringify({\n    title: jobData.title,\n    company: jobData.company,\n    location: jobData.location,\n    description: desc,\n    tags: jobData.tags,\n    url: jobData.url,\n    _likely_english: false\n  });\n  const b64 = Buffer.from(filterData).toString('base64');\n  return { json: { ...jobData, _b64: b64, _idx: i } };\n});"
      },
      "id": "aa-fetch",
      "name": "AA: Fetch Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "merge-sources",
      "name": "Merge Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Deduplicate merged results by company+title\nconst all = $input.all().filter(i => !i.json._empty);\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of all) {\n  const job = item.json;\n  const key = ((job.company||'') + '|' + (job.title||'')).toLowerCase().trim();\n  if (!seen.has(key)) {\n    seen.add(key);\n    unique.push(job);\n  }\n}\n\nif (unique.length === 0) return [{ json: { _empty: true } }];\nreturn unique.map((j, i) => ({ json: { ...j, _idx: i } }));"
      },
      "id": "dedup-merge",
      "name": "Dedup Merge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ]
        }
      },
      "id": "an-has-results",
      "name": "Has Results?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tracker"
        },
        "options": {
          "outputFormatting": false
        }
      },
      "id": "dedup-read",
      "name": "Dedup: Read Seen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1300,
        300
      ],
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Filter out already-seen URLs by reading Job URL column from Sheet\nlet sheetRows;\ntry { sheetRows = $('Dedup: Read Seen').all(); } catch(e) { sheetRows = []; }\nconst seen = new Set(sheetRows.map(r => r.json['Job URL']).filter(Boolean));\n\nconst jobs = $('Has Results?').all().filter(item => {\n  const url = item.json?.url;\n  return url && !seen.has(url);\n});\n\n// Cap at 80 new items to keep Claude calls manageable\nreturn jobs.length > 0 ? jobs.slice(0, 80) : [{ json: { _empty: true } }];"
      },
      "id": "dedup-filter",
      "name": "Dedup: Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json._empty }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ]
        }
      },
      "id": "dedup-has-new",
      "name": "Has New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        300
      ]
    },
    {
      "parameters": {
        "command": "=python \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}/scripts/run_filter.py\" \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}\" \"{{ $json._b64 }}\""
      },
      "id": "filter-claude",
      "name": "Filter: Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2050,
        300
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "// Parse filter results and carry forward job data for Generate step\nconst results = [];\nfor (const item of $input.all()) {\n  const stdout = item.json.stdout || '{}';\n  let assessment;\n  try {\n    assessment = JSON.parse(stdout);\n  } catch(e) {\n    assessment = { fit_score: 0, decision: 'SKIP', cv_variant: 'software', hard_blockers: ['Claude parse error'], reasoning: stdout.substring(0,200) };\n  }\n\n  // Get job data from the matching item in Dedup: Filter by index\n  const allDedup = $('Dedup: Filter').all();\n  const idx = results.length;\n  const jobData = (allDedup[idx] || item).json;\n\n  // Normalize decision: only PASS, MAYBE, or SKIP\n  const rawDecision = String(assessment.decision || 'SKIP').trim().toUpperCase();\n  const decision = ['PASS','MAYBE','SKIP'].includes(rawDecision) ? rawDecision : 'SKIP';\n  const score = Number(assessment.fit_score) || 0;\n\n  results.push({\n    json: {\n      'Date': new Date().toISOString().slice(0,10),\n      'Fetched At': new Date().toISOString().replace('T',' ').slice(0,19) + ' UTC',\n      'Source': jobData.source || 'arbeitnow',\n      'Company': assessment.company || jobData.company || '',\n      'Role': assessment.role || jobData.title || '',\n      'Location': assessment.location || jobData.location || '',\n      'Score': score,\n      'Decision': decision,\n      'CV Variant': assessment.cv_variant || 'software',\n      'Blockers': (assessment.hard_blockers || []).join('; '),\n      'Strong Matches': (assessment.strong_matches || []).join('; '),\n      'Reasoning': assessment.reasoning || '',\n      'Status': decision === 'SKIP' ? 'skipped' : 'review',\n      'Drive Link': '',\n      'Job URL': jobData.url || '',\n      'Notes': '',\n      _assessment: assessment,\n      _url: jobData.url || '',\n      _description: jobData.description || ''\n    }\n  });\n}\nreturn results;"
      },
      "id": "filter-parse",
      "name": "Filter: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2300,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.Decision }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "leftValue": "={{ $json.Score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "id": "route-decision",
      "name": "Is PASS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2550,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Strip internal fields before Sheet logging\nreturn $input.all().map(item => {\n  const d = item.json;\n  return { json: {\n    'Date': d['Date'] || '',\n    'Fetched At': d['Fetched At'] || '',\n    'Source': d['Source'] || '',\n    'Company': d['Company'] || '',\n    'Role': d['Role'] || '',\n    'Location': d['Location'] || '',\n    'Score': d['Score'] || 0,\n    'Decision': d['Decision'] || 'SKIP',\n    'CV Variant': d['CV Variant'] || 'software',\n    'Blockers': d['Blockers'] || '',\n    'Strong Matches': d['Strong Matches'] || '',\n    'Reasoning': d['Reasoning'] || '',\n    'Status': d['Status'] || 'skipped',\n    'Drive Link': '',\n    'Job URL': d['Job URL'] || '',\n    'Notes': d['Notes'] || ''\n  }};\n});"
      },
      "id": "clean-skip",
      "name": "Clean MAYBE/SKIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        500
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tracker"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "ignoreFields": ""
        }
      },
      "id": "sheet-log-skip",
      "name": "Sheet: Log MAYBE/SKIP",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2800,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build generate input \u00e2\u20ac\u201d lightweight, generate.py fetches full posting\nreturn $input.all().map(item => {\n  const d = item.json;\n  const generateInput = JSON.stringify({\n    cv_variant: d['CV Variant'] || 'software',\n    job: {\n      title: d['Role'] || '',\n      company: d['Company'] || '',\n      location: d['Location'] || '',\n      url: d['Job URL'] || ''\n    },\n    assessment: {\n      company: d._assessment?.company || '',\n      role: d._assessment?.role || '',\n      fit_score: d._assessment?.fit_score || 0,\n      decision: d._assessment?.decision || '',\n      cv_variant: d._assessment?.cv_variant || 'software',\n      strong_matches: d._assessment?.strong_matches || [],\n      soft_gaps: d._assessment?.soft_gaps || [],\n      reasoning: (d._assessment?.reasoning || '').substring(0, 500)\n    }\n  });\n  const b64 = Buffer.from(generateInput).toString('base64');\n  return {\n    json: {\n      ...d,\n      _generateB64: b64\n    }\n  };\n});"
      },
      "id": "prep-generate",
      "name": "Prep Generate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        100
      ]
    },
    {
      "parameters": {
        "command": "=python \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}/scripts/run_generate.py\" \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}\" \"{{ $json._generateB64 }}\""
      },
      "id": "generate-claude",
      "name": "Generate: Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2800,
        100
      ],
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "// Parse generate output and merge with filter data for file writing\nconst results = [];\nconst passItems = $('Is PASS?').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const passItem = passItems[i] || {};\n  const stdout = item.json.stdout || '{}';\n  let generated;\n  try {\n    generated = JSON.parse(stdout);\n  } catch(e) {\n    generated = { error: 'Failed to parse generate output', raw: stdout.substring(0,200) };\n  }\n\n  const filterData = passItem.json || {};\n\n  // Build input for write_output.py\n  const writeObj = {\n    company: filterData['Company'] || '',\n    title: filterData['Role'] || '',\n    location: filterData['Location'] || '',\n    url: filterData['Job URL'] || '',\n    description: filterData._description || '',\n    tailored_cv_html: generated.tailored_cv_html || '',\n    cover_letter_html: generated.cover_letter_html || '',\n    cover_letter_text: generated.cover_letter_text || '',\n    assessment: filterData._assessment || {},\n    tailoring_notes: generated.tailoring_notes || ''\n  };\n  const writeB64 = Buffer.from(JSON.stringify(writeObj)).toString('base64');\n\n  results.push({\n    json: {\n      ...filterData,\n      _writeB64: writeB64,\n      _generated: generated,\n      _hasError: !!generated.error\n    }\n  });\n}\nreturn results;"
      },
      "id": "generate-parse",
      "name": "Generate: Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3050,
        100
      ]
    },
    {
      "parameters": {
        "command": "=python \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}/scripts/run_write_output.py\" \"{{ $env.JOBS_FUNNEL_PROJECT_DIR }}\" \"{{ $json._writeB64 }}\""
      },
      "id": "write-local",
      "name": "Write Local Files",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3300,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for Drive upload and Sheet logging\nconst results = [];\nconst genItems = $('Generate: Parse').all();\n\nfor (let i = 0; i < $input.all().length; i++) {\n  const item = $input.all()[i];\n  const genItem = genItems[i] || {};\n  const filterData = genItem.json || {};\n  let writeResult;\n  try {\n    writeResult = JSON.parse(item.json.stdout || '{}');\n  } catch(e) {\n    writeResult = { outputDir: '', folderName: '' };\n  }\n\n  const hasError = filterData._hasError || !!writeResult.error;\n\n  results.push({\n    json: {\n      'Date': filterData['Date'] || new Date().toISOString().slice(0,10),\n      'Source': filterData['Source'] || '',\n      'Company': filterData['Company'] || '',\n      'Role': filterData['Role'] || '',\n      'Location': filterData['Location'] || '',\n      'Score': filterData['Score'] || 0,\n      'Decision': 'PASS',\n      'CV Variant': filterData['CV Variant'] || 'software',\n      'Blockers': filterData['Blockers'] || '',\n      'Strong Matches': filterData['Strong Matches'] || '',\n      'Reasoning': filterData['Reasoning'] || '',\n      'Status': hasError ? 'review' : 'generated',\n      'Drive Link': '',\n      'Job URL': filterData['Job URL'] || '',\n      'Notes': hasError ? 'Generate failed \u00e2\u20ac\u201d review manually' : (filterData._generated?.tailoring_notes || ''),\n      _outputDir: writeResult.outputDir || '',\n      _folderName: writeResult.folderName || '',\n      _hasError: hasError\n    }\n  });\n}\nreturn results;"
      },
      "id": "prep-drive",
      "name": "Prep Drive Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3550,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json._hasError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            },
            {
              "leftValue": "={{ $json._outputDir }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "has-files",
      "name": "Has Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3800,
        100
      ]
    },
    {
      "parameters": {
        "name": "={{ $json._folderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.JOBS_FUNNEL_DRIVE_FOLDER_ID }}"
        },
        "options": {}
      },
      "id": "drive-create-folder",
      "name": "Drive: Create Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4050,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare file upload list \u00e2\u20ac\u201d emit one item per file with binary data\nconst item = $input.all()[0];\nconst prepItem = $('Has Files?').all()[0];\nconst folderId = item.json.id; // Google Drive folder ID from previous node\nconst outputDir = prepItem.json._outputDir;\n\nconst files = ['cv.html', 'cover_letter.html', 'cover_letter.txt', 'assessment.json', 'job.json'];\nconst results = [];\n\nfor (const f of files) {\n  const filePath = outputDir + '/' + f;\n  try {\n    const fs = require('fs');\n    const content = fs.readFileSync(filePath);\n    const binary = await this.helpers.prepareBinaryData(content, f);\n    results.push({\n      json: {\n        fileName: f,\n        folderId: folderId,\n        folderUrl: `https://drive.google.com/drive/folders/${folderId}`,\n        ...prepItem.json\n      },\n      binary: { data: binary }\n    });\n  } catch(e) {\n    // Skip files that don't exist\n  }\n}\nreturn results;"
      },
      "id": "prep-files",
      "name": "Prep File List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4300,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "myDrive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.folderId }}"
        },
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "drive-upload",
      "name": "Drive: Upload File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4550,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// After all files uploaded, emit one item per job for Sheet logging\nconst allUploaded = $input.all();\nif (allUploaded.length === 0) return [];\n\n// Group by folder \u00e2\u20ac\u201d all files share the same folderUrl\nconst first = allUploaded[0].json;\nreturn [{\n  json: {\n    'Date': first['Date'] || '',\n    'Fetched At': first['Fetched At'] || '',\n    'Source': first['Source'] || '',\n    'Company': first['Company'] || '',\n    'Role': first['Role'] || '',\n    'Location': first['Location'] || '',\n    'Score': first['Score'] || 0,\n    'Decision': 'PASS',\n    'CV Variant': first['CV Variant'] || 'software',\n    'Blockers': first['Blockers'] || '',\n    'Strong Matches': first['Strong Matches'] || '',\n    'Reasoning': first['Reasoning'] || '',\n    'Status': 'generated',\n    'Drive Link': first.folderUrl || '',\n    'Job URL': first['Job URL'] || '',\n    'Notes': first['Notes'] || ''\n  }\n}];"
      },
      "id": "post-upload",
      "name": "Post Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tracker"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "ignoreFields": "_assessment,_url,_description,_hasError,_outputDir,_folderName,_generated,_writeB64"
        }
      },
      "id": "sheet-log-pass",
      "name": "Sheet: Log PASS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5050,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Log PASS items that had errors (no Drive upload)\nconst items = $input.all();\nreturn items.map(item => {\n  const d = item.json;\n  return {\n    json: {\n      'Date': d['Date'] || '',\n      'Fetched At': d['Fetched At'] || '',\n      'Source': d['Source'] || '',\n      'Company': d['Company'] || '',\n      'Role': d['Role'] || '',\n      'Location': d['Location'] || '',\n      'Score': d['Score'] || 0,\n      'Decision': 'PASS',\n      'CV Variant': d['CV Variant'] || 'software',\n      'Blockers': d['Blockers'] || '',\n      'Strong Matches': d['Strong Matches'] || '',\n      'Reasoning': d['Reasoning'] || '',\n      'Status': 'review',\n      'Drive Link': '',\n      'Job URL': d['Job URL'] || '',\n      'Notes': d['Notes'] || 'Generate/upload failed'\n    }\n  };\n});"
      },
      "id": "error-pass-prep",
      "name": "Prep Error PASS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4050,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.JOBS_FUNNEL_SHEET_ID }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Tracker"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "ignoreFields": "_assessment,_url,_description,_hasError,_outputDir,_folderName,_generated,_writeB64"
        }
      },
      "id": "sheet-log-error-pass",
      "name": "Sheet: Log Error PASS",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4300,
        200
      ]
    }
  ],
  "connections": {
    "Run Search": {
      "main": [
        [
          {
            "node": "AN: Fetch & Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "AA: Fetch Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AN: Fetch & Filter": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AA: Fetch Jobs": {
      "main": [
        [
          {
            "node": "Merge Sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Sources": {
      "main": [
        [
          {
            "node": "Dedup Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Merge": {
      "main": [
        [
          {
            "node": "Has Results?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Results?": {
      "main": [
        [
          {
            "node": "Dedup: Read Seen",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Dedup: Read Seen": {
      "main": [
        [
          {
            "node": "Dedup: Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup: Filter": {
      "main": [
        [
          {
            "node": "Has New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New?": {
      "main": [
        [
          {
            "node": "Filter: Claude",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Filter: Claude": {
      "main": [
        [
          {
            "node": "Filter: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Parse": {
      "main": [
        [
          {
            "node": "Is PASS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is PASS?": {
      "main": [
        [
          {
            "node": "Prep Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clean MAYBE/SKIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean MAYBE/SKIP": {
      "main": [
        [
          {
            "node": "Sheet: Log MAYBE/SKIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Generate": {
      "main": [
        [
          {
            "node": "Generate: Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate: Claude": {
      "main": [
        [
          {
            "node": "Generate: Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate: Parse": {
      "main": [
        [
          {
            "node": "Write Local Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Local Files": {
      "main": [
        [
          {
            "node": "Prep Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Drive Upload": {
      "main": [
        [
          {
            "node": "Has Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Files?": {
      "main": [
        [
          {
            "node": "Drive: Create Folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prep Error PASS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Create Folder": {
      "main": [
        [
          {
            "node": "Prep File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep File List": {
      "main": [
        [
          {
            "node": "Drive: Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Upload File": {
      "main": [
        [
          {
            "node": "Post Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Upload": {
      "main": [
        [
          {
            "node": "Sheet: Log PASS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Log PASS": {
      "main": [
        []
      ]
    },
    "Prep Error PASS": {
      "main": [
        [
          {
            "node": "Sheet: Log Error PASS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet: Log Error PASS": {
      "main": [
        []
      ]
    },
    "Sheet: Log MAYBE/SKIP": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Berlin"
  },
  "tags": [
    {
      "name": "job-search-local"
    }
  ]
}